:root {
    --cm: rgb(204, 135, 135);
    --cm-o: rgba(204, 135, 135, 0.6);

    --mm: rgb(204, 194, 135);
    --mm-o: rgba(204, 194, 135, 0.6);

    --in: rgb(143, 204, 135);
    --in-o: rgba(143, 204, 135, 0.6);

    --px: rgb(135, 204, 201);
    --px-o: rgba(135, 204, 201, 0.6);

    --pt: rgb(161, 135, 204);
    --pt-o: rgba(161, 135, 204, 0.6);

    --pc: rgb(202, 99, 194);
    --pc-o: rgba(202, 99, 194, 0.6);

    --bg-color: rgb(15, 46, 61);
    --font-color: rgb(232, 230, 227);
    --font-color-o: rgb(232, 230, 227, 0.6);
}