@import url('range.css');

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    height: 80vh;
    font-family: 'Josefin Sans', sans-serif;
    /* background-color: rgba(163, 155, 155, 0.877);
    color: rgba(32, 32, 34, 0.534); */
}

h1,
h2 {
    text-align: center;
}

h2 {
    margin-top: 30px;
    border-bottom: 2px solid var(--font-color);
}

.block-none {
    display: none;
}

div.content-wrapper {
    margin: 1rem 3vw;
}

div.unit-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    vertical-align: middle;
    padding: 0.5rem 2rem;
}

div.unit-wrapper button {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    background-color: inherit;
    display: inline-block;
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    height: 3rem;
    font-size: 13px;
    color: var(--font-color);
    padding: 0.9rem 1.8rem;
    line-height: 0;
    transition: background-color ease-in-out 0.1s;
}

.clickable {
    cursor: pointer;
}

div.unit-wrapper button:focus {
    outline: none;
}

div.unit-wrapper button[data-unit=cm]:hover {
    background-color: var(--cm-o);
}

div.unit-wrapper button[data-unit=mm]:hover {
    background-color: var(--mm-o);
}

div.unit-wrapper button[data-unit=in]:hover {
    background-color: var(--in-o);
}

div.unit-wrapper button[data-unit=px]:hover {
    background-color: var(--px-o);
}

div.unit-wrapper button[data-unit=pt]:hover {
    background-color: var(--pt-o);
}

div.unit-wrapper button[data-unit=pc]:hover {
    background-color: var(--pc-o);
}

div.unit-wrapper button[data-unit=cm].active,
div.unit-display-box>div.unit-display-bar[data-unit=cm] {
    background-color: var(--cm);
}

div.unit-wrapper button[data-unit=mm].active,
div.unit-display-box>div.unit-display-bar[data-unit=mm] {
    background-color: var(--mm);
}

div.unit-wrapper button[data-unit=in].active,
div.unit-display-box>div.unit-display-bar[data-unit=in] {
    background-color: var(--in);
}

div.unit-wrapper button[data-unit=px].active,
div.unit-display-box>div.unit-display-bar[data-unit=px] {
    background-color: var(--px);
}

div.unit-wrapper button[data-unit=pt].active,
div.unit-display-box>div.unit-display-bar[data-unit=pt] {
    background-color: var(--pt);
}

div.unit-wrapper button[data-unit=pc].active,
div.unit-display-box>div.unit-display-bar[data-unit=pc] {
    background-color: var(--pc);
}

div.selected-wrapper div.unit-info-wrapper {
    display: flex;
    justify-content: center;
}

div.selected-wrapper div.unit-info-wrapper div.unit-info {
    font-weight: bold;
    border: 3px solid var(--font-color-o);
    border-radius: 5px;
    padding: 0 2rem;
    text-align: center;
    transition: border ease-in-out .3s;
}

div.selected-wrapper div.unit-info-wrapper div.unit-info:hover {
    border: 3px solid var(--font-color);
}

div.selected-wrapper div.unit-info-wrapper div.unit-info h4 {
    font-size: 1.12em;
    font-weight: bold;
}

div.selected-wrapper div.unit-info-wrapper div.unit-info ul {
    padding-left: 0;
    text-align: left;
}

label.cm {
    color: var(--cm);
}

label.mm {
    color: var(--mm);
}

label.in {
    color: var(--in);
}

label.px {
    color: var(--px);
}

label.pt {
    color: var(--pt);
}

label.pc {
    color: var(--pc);
}

div.unit-range-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
}

div.unit-range-wrapper>div.unit-range-growth-box {
    align-self: flex-end;
}

div.selected-wrapper>div,
div.unit-range-wrapper>div {
    margin: 1em;
}

div.unit-range-values-wrapper {
    display: flex;
    justify-content: space-between;
}

div.unit-range-box {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    width: 5vw;
    height: 2.1rem;
    transition: all ease-in-out 0.1s;
}

div.unit-range-box:hover {
    background-color: var(--bg-color-highlight);
}

div.unit-range-box>label,
div.unit-range-box>span {
    pointer-events: none;
}

div.unit-range-box>label {
    text-align: left;
    font-size: x-small;
    font-weight: bold;
}

div.unit-range-box>span {
    font-size: medium;
    font-weight: bold;
}

div.error,
#error {
    border: 1px solid rgb(177, 23, 23) !important;
}

#error {
    /* border: 1px solid var(--font-color-o); */
    display: none;
    border-radius: 5px;
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(194, 100, 100);
    padding: 1vh 3vw;
    /* background-color: rgb(149, 185, 204); */
    /* background-color: rgb(64, 122, 151); */
}

#error>span {
    font-size: medium;
    font-weight: bold;
    color: var(--font-color);
    cursor: default;
}

div.unit-display-bar {
    height: 18px;
    margin-top: .5vh;
    margin-bottom: 1.2vh;
}

div.unit-display-wrapper>div.unit-display-box>span {
    font-size: 20px;
    font-weight: bold;
}

div.unit-display-wrapper>div.unit-display-box>span::before {
    content: '•';
    margin-right: 5px;
}

input[type=number] {
    background-color: transparent;
    border: 0;
    height: auto;
    outline: none;
    color: var(--font-color);
    font-weight: bold;

    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* div.unit-display-wrapper h3 {
    margin-top: 2em;
    font-size: x-large;
    background-image: linear-gradient(var(--font-color), var(--font-color));
    background-repeat: no-repeat;
    background-size: 50% 2px, calc(100% - 4px) 100%;
    background-position: left bottom, 0 4px;
}

div.unit-display-wrapper h3::before {
    content: '•';
    margin-right: 5px;
}

div.unit-display-wrapper h3::after {
    width: 50%;
    border-bottom: none;
} */