:root {
    --cm: rgb(108, 46, 46);
    --cm-o: rgba(108, 46, 46, 0.6);

    --mm: rgb(108, 99, 46);
    --mm-o: rgba(108, 99, 46, 0.6);

    --in: rgb(67, 108, 46);
    --in-o: rgba(67, 108, 46, 0.6);

    --px: rgb(46, 108, 106);
    --px-o: rgba(46, 108, 106, 0.6);

    --pt: rgb(69, 46, 108);
    --pt-o: rgba(69, 46, 108, 0.6);

    --pc: rgb(132, 45, 125);
    --pc-o: rgba(132, 45, 125, 0.6);

    --bg-color: rgb(19, 21, 22);
    --bg-color-highlight: rgb(27, 29, 30);

    --font-color: rgb(205, 200, 194);
    --font-color-o: rgb(205, 200, 194, 0.6);

    --button-border-color: rgba(140, 130, 115, 0.3);
}